@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

@layer utilities {}

@layer components {
    .typo-normal {
        @apply text-[14px] not-italic font-normal leading-[22px]
    }

    .typo-medium {
        @apply text-[#101010] text-base not-italic font-medium leading-6
    }
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}